.container{
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 32%;
    padding: 8px;
    margin-top: 50px;
    background-size: cover;
    background-position: center center;
    margin-right:10px;
  }
  .y-text{
    text-align: center;
  }
  .yellow-text{
    color: black;
  }
  .yellow{
    color:  #fcd742;
  }
  .price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
.ONE{
    background-image: url('../../Images/hipcravo-5UbIqV58CW8-unsplash.jpg');
    opacity: 1.4;

}
.TWO{
    background-image: url('../../Images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg');
    opacity: 1.4;
}
.THREE{
    background-image: url('../../Images/penguinuhh-8VI6WwEEEHw-unsplash.jpg');
    opacity: 1.4;
}
.bill{
    margin-top: 10px;
}
.bill3{
    font-size: 60px;
    color:  #fcd742;
}
  .bill, .bill2,.bill3{
      text-align: center;
      font-family: "Anton", sans-serif;
      font-weight: bold;
      
  }
  
  .bill2{
      font-size: 30px;
      letter-spacing: 2px;
      color:white;
      margin-bottom: 0;
  }
  .price li {
    vertical-align: bottom;
    padding: 20px;
    text-align: center;
  }
  
  .price {
    color: white;
    font-size: 20px;
  }
  
  .button {
    background-color: #fcd742;
    border: none;
    font-family: "Anton", sans-serif;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }