body{
    background: #ddd;
}
.pricing-area{
    margin-top: 25px;
}
.single-pricing{
    position: relative;
    text-align: center;
    background-color: #262626;
    color: white;
    margin: 0 20px;
    padding: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.head-text{
    background-color: transparent;
    border-bottom: 0;
    padding: 15px 0;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}
.head-text h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fafafa;
}
.price-area{
    font-weight: 600;
}
.price-area{
    position: relative;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
    font-size: 64px;
    line-height: 1;
}
.price-area span.duration{
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #888;
    letter-spacing: 1px;
    vertical-align: baseline;
    color: #999;
    margin: 20px 0 0 3px;
}
.price-area:after, .feature-area{
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.feature-area ul{
    margin: 0;
    padding: 15px 0;
    list-style: none;
}
.feature-area li{
    padding: 6px;
    font-size: 14px;
}
.btn-area{
    padding: 15px 30px;
}
.btn-area a{
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #1abc9c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

@media (max-width: 767px){
    h3{
        font-size: 20px;
    }
    .single-pricing{
        margin-bottom: 30px;
    }
}