img {
    width: 100%;
    height: 100%;
}
.btn-war{
background-color: #fcd742;
}
.tp{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
}