img {
  height: 100%;
  width: 100%;
}
p{
    text-align: left;
}
.xii {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 4.5rem;
}
h3 {
  color: #fcd742;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.left{
    text-align: left;
}