.bottom-block{
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
    margin-top: 788px;
    padding: 20px 10px;
    text-align: left;
    width: 100%;
}

.bottom-block h4{
    text-align: center;
}

.bottom-block a{
    color: whitesmoke;
    text-decoration: none;
    margin: 5px;
    padding-top: 10px;
}

.bottom-block p{
    margin-top: 20px;
    
}
.icon{
    font-size: 30px;
    width: 80px;
}
p{
    font-size: 16px;
}
.social-media{
    width: 14px;
    height: 13px;
}