.why{
  font-size: 40px;
  color:black;
  text-align: center;
  font-family: "Anton", sans-serif;
}
.left{
  text-align: centers;
}
.whyIam .card{
  width: 32%;
  display: flex;
  justify-content: flex-end;;
  margin-left: 1.33%;
  margin-top: 20px;
  position: relative;
  z-index: 0;
  border: none;
  box-shadow: 0px 10px 10px 0px lightgray;
  padding-bottom: 40px !important;
}

.whyIam .card:hover{
  transform: translateY(-20px);
  box-shadow: 0px 8px 10px 0px lightgray;
  border: 1px solid goldenrod;
}

.whyIam .card:before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.whyIam .card img{
  width: auto;
  height: 50px;
  margin: 40px auto;
}

@media (max-width:775px){
  .card{
      width: calc(100% - 1.33%);
  }
}