.container{
    margin-top:100px;
    margin-bottom: 50px;
}
.P1, .P2, .P3 {
    background-size: cover;
    margin-right: 5%;
    color: black;
    text-align: center;
    padding-top: 100px;
    margin-left: -25px;
    padding-bottom: 100px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-top:40px;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
